<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net452" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="69.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="OpenTK" version="3.0.1" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net452" />
  <package id="SharpRaven" version="2.4.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>